* {
    padding: 0;
    margin: 0;
}
.wrap {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}


/* Логотип */
.logo {
    margin-top: 25px;
}
.logo img {
    width: 9%;
}


/* Главный блок */
.main {
    position: relative;
    margin-top: 30px;
    background: url(images/bg.jpg) no-repeat center center;
    height: 650px;
    width: 100%;
}
.main-inform {
    position: absolute;
    top: 25%
}
.main-text {
    color:white;
    font-family: Open Sans;
    margin-bottom: 120px;
}
.main-text h2 {
    font-weight: 700;
    font-size: 51px;
}
.main-text p {
    line-height: 40px;
    padding-top: 40px;
    font-size: 28px;
}
.main-but a {
    color:white;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 21px;
    text-decoration: none;
    background: #ed1c24;
    padding: 25px 50px; 
    box-shadow: 0px 6px #95161b ;
    transition: .2s;
}
.main-but a:hover {
    box-shadow: none;
}

/* About */

.about {
    margin-top: 125px;
    text-align: center;
}
.about h2 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 42px;
}
.about p {
    margin-top: 50px;
    font-family: Open Sans;
    font-weight: 500;
    font-size: 28px;
}
.about h3 {
    color: #163264;
    margin-top: 50px;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 42px;
}

/* Форма */
section {
    margin-top: 120px;
}
.form-text {
    text-align: center;
    color: black;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 32px;
}
.number-card{
    margin-top: 50px;
    text-align: center;
}
.text-number {
    margin-top: 80px;
    color: black;
    font-family: Open Sans;
    font-weight: 500;
    font-size: 21px;
}
.number-card input {
    padding-left: 20px;
    font-size: 24px;
    margin-top: 30px;
    height: 60px;
    width: 450px;
}
.but button {
    margin-bottom: 150px;
    color:white;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    border: none;
    background: #ed1c24;
    margin-top: 40px;
    width: 473px;
    padding: 20px 0px;
    box-shadow: 0px 6px #95161b ;
    transition: .2s;
}
.but button:hover {
    box-shadow: none;
}


/* Подвал */
footer {
    box-shadow: 0px -6px 15px rgba(0, 0, 0, 20%)  ;
}
.info {
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items:center
}
.info-mob {
    display: none;
    display: flex;
    justify-content: space-between;
    align-items:center
}
.logoinfo-mob {
    display: none;
}
.banklogo {
    width: 10%;
}
.cardlogo {
    width: 13%;
}
.info p {
    color: black;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
}
.info-mob p {
    display: none;
    color: black;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 18px;
}




/* Адаптив */
@media screen and (min-width: 960px) and (max-width: 1199px) {
    .wrap {
        width:920px;
    }
}
@media screen and (min-width: 750px) and (max-width: 959px) {
    .wrap {
        width: 700px;
    }
    .main {
        text-align: center;
    }
    .main-inform {
        padding-top: 150px;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 480px) and (max-width: 749px) {
    .info-mob p{
        display: block;
    }
    .logoinfo-mob {
        display: block;
    }
    .wrap {
        width: 430px;
    }
    .logo img {
        width: 20%;
    }
    .main {
        text-align: center;
    }
    .main-inform {
        padding-top: 130px;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .number-card input {
        width: 400px;
    }
    .but button {
        width: 400px;
    }
    .info {
        display: none;
    }
    .info-mob {
        text-align: center;
        display: block;
    }
    .logoinfo-mob {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banklogo {
        width: 25%;
        padding-right: 40px;
    }
    .cardlogo {
        width: 25%;
    }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
    .about h2 {
        font-family: Open Sans;
        font-weight: 700;
        font-size: 32px;
    }
    .about p {
        margin-top: 50px;
        font-family: Open Sans;
        font-weight: 500;
        font-size: 21px;
    }
    .about h3 {
        color: #163264;
        margin-top: 50px;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 32px;
    }
    .info-mob p{
        display: block;
    }
    .logoinfo-mob {
        display: block;
    }
    .wrap {
        width: 300px;
    }
    .logo img {
        width: 30%;
    }
    .main {
        height: 500px;
        text-align: center;
    }
    .main-inform {
        padding-top: 100px;
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .main-text {
        margin-bottom: 90px; 
    }
    .main-text h2 {
        font-size: 40px;
    }
    .main-text p {
        line-height: 30px;
        padding-top: 30px;
        font-size: 18px;
    }
    .main-but a {
        color:white;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 18px;
        text-decoration: none;
        background: #ed1c24;
        padding: 15px 20px; 
        transition: .2s;
    }
    section {
        margin-top: 100px;
    }
    .form-text {
        text-align: center;
        color: black;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 24px;
    }
    .number-card input {
        width: 270px;
    }
    .but button {
        width: 300px;
    }
    .info {
        display: none;
    }
    .info-mob {
        text-align: center;
        display: block;
    }
    .info-mob p {
        padding-top: 30px;
    }
    .logoinfo-mob {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    .banklogo {
        width: 25%;
        padding-right: 40px;
    }
    .cardlogo {
        width: 25%;
    }
}